<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Alojamento estudantil UFLA" />
    <meta name="keywords" content="Brejão, Alojamento estudantil, UFLA, morar lavras" />

    <title>Brejão UFLA</title>

    <!-- Bootstrap -->
    <link href="../statics/css/bootstrap.min.css" rel="stylesheet">
    <link href="../statics/css/base.css" rel="stylesheet">
    <link href="../statics/css/galeria.css" rel="stylesheet" type="text/css">

  </head>
  <body>

    <nav class="navbar navbar-default topo">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header topo-logo">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- <a class="navbar-brand" href="#">Brejão UFLA</a> -->
          <img  src="../statics/imgs/brejao.png">
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse menu" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="index.html">Home</a></li>
            <li><a href="morar.html">Como Morar</a> </li>
            <li><a href="historia.html">História</a></li>
            <li><a href="estrutura.html">Estrutura</a></li>
            <li><a href="galeria.html">Galeria</a></li>
            <li><a href="moradores.html">Moradores</a></li>
            <li><a href="contato.html">Contato</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <center class="album">
        <table>
            <tbody>
                <tr>
                    <td>
                        <img src="#">
                    </td>
                    <td>
                        <img src="#">
                    </td>
                    <td>
                        <img src="#">
                    </td>
                    <td>
                        <img src="#">
                    </td>
                    <td>
                        <img src="#">
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="#">
                    </td>
                    <td>
                        <img src="#">
                    </td>
                    <td>
                        <img src="#">
                    </td>
                    <td>
                        <img src="#">
                    </td>
                    <td>
                        <img src="#">
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="#">
                    </td>
                    <td>
                        <img src="#">
                    </td>
                    <td>
                        <img src="#">
                    </td>
                    <td>
                        <img src="#">
                    </td>
                    <td>
                        <img src="#">
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="#">
                    </td>
                    <td>
                        <img src="#">
                    </td>
                    <td>
                        <img src="#">
                    </td>
                    <td>
                        <img src="#">
                    </td>
                    <td>
                        <img src="#">
                    </td>
                </tr>
            </tbody>
        </table>
    </center>

    <footer class="col-md-12 col-xs-12 myfooter">
        <p class="myfooter-text">Copyrights mano!</p>
    </footer>
  </body>
</html>
