<DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="../statics/css/index.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <title>Brejao</title>
</head>
<body>
    <nav role="navigation" class="navbar navbar-inverse navbar-fixed-top" id="menu-topo">
        <div class="container-nav">
            <div class="navbar-header">
                <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collection of nav links and other content for toggling -->
            <div id="navbarCollapse" class="navbar-collapse collapse ">
                <ul class="nav navbar-nav navbar-right">
                    <li role="presentation" class="active"><a href="index.html">Home</a></li>
                    <li role="presentation"><a href="morar.html">Como morar</a></li>
                    <li role="presentation"><a href="estrutura.html">Estrutura</a></li>
                    <li role="presentation"><a href="galeria.html">Galeria</a></li>
                    <li role="presentation"><a href="moradores.html">Moradores</a></li>
                    <li role="presentation"><a href="contato.html">Contato</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="jumbotron" id="container-jumbo">
        <div class="container">
            <h1>Bem vindo ao Brejão</h1>
            <h2>A maior república de Lavras</h2>
        </div>
    </div>


    <div class="container" id="container-photos">
        <div class="row">
            <div class="col-md-9">
                <div class="col-md-6">
                    <div class="thumbnail">
                        <img src="../statics/imgs/alojamento.jpg">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="thumbnail">
                        <img src="../statics/imgs/brejaoFrente.jpg">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="thumbnail">
                        <img src="../statics/imgs/brejao.jpg">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="thumbnail">
                        <img src="../statics/imgs/bloco2.jpg">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-md-12">
                    <div class="thumbnail">
                        <h3>Numeros</h3>
                        <p>... apartamentos</p>
                        <p>... moradores</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="thumbnail">
                        <h3>Festas</h3>
                        <p>... apartamentos</p>
                        <p>... moradores</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="conteudo">
        <div class="container">
            <div class="row">
                <h3 class="text-center">historia</h3>
                <p>Em 1970 na <a href="http://www.ufla.br/">Universidade Federal de Lavras (UFLA)</a> uma reunião...Então no dia ../.. numa... as obras se iniciaram dentro do campus...Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.</p>
            </div>
        </div>
    </div>

    <footer class="panel-footer">

    </footer>

</body>
</html>
