<DOCTYPE <!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../statics/css/index.css">
    <title>Brejao</title>
</head>
<body>
    <div class="menu"></div>

    <header class="logo">
        <div class="logo-container">
            <div class="logo-texto">
                A maior republica de
                <br>Lavras
            </div>
        </div>
    </header>

    <div class="historia">
        <div class="historia-titulo">
            <h1>Historia</h1>
        </div>
        <div class="historia-container">
            <section class="sobre">
                <div class="historia-imagem" style="float: right">
                    <img src="../statics/imgs/brejaoFrente.jpg">
                </div>
                <div class="historia-texto" style="float: left">
                    <p>Em 1970 os trabalhos se iniciaram na UFLA ...</p>
                </div>
            </section>
            <section class="sobre">
                <div class="historia-imagem" style="float: left">
                    <img src="../statics/imgs/brejao.jpg">
                </div>
                <div class="historia-texto" style="float: right">
                    <p>Em 1970 os trabalhos se iniciaram na UFLA ...</p>
                </div>
            </section>
        </div>
    </div>

    <footer class="rodape"></footer>
</body>
</html>
