<DOCTYPE <!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../statics/css/index.css">
    <title>Brejao</title>
</head>
<body>
    <div class="menu"></div>

    <header class="logo">
        <div class="container">
            <div class="logo-texto">
                A maior republica de
                <br>Lavras
            </div>
        </div>
    </header>

    <section class="sobre">
        <h1>Historia</h1>
        <p>Em 1970 os trabalhos se iniciaram na UFLA ...</p>
    </section>

    <footer class="rodape"></footer>
</body>
</html>
