html, body {
    margin: 0;
    padding: 0;
}

.slider {
    margin: 30px;
}

.topo {
    height: 6em;
}

.topo-logo {
    margin-top: 1.2em;
}

.topo-logo img {
     height: 2.2em;
}

.item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.menu {
	float: right;
    margin-top: 1.2em;
}

#news {
	background-color: white;
}

#myCarousel .nav a small
{
    display: block;
}
#myCarousel .nav
{
    background: #eee;
}
.nav-justified > li > a
{
    border-radius: 0px;
    color: inherit;
}

.nav-pills>li a { background-color: white; }
.nav-pills>li.active a { background-color: #5AAC41}

.slider {
    margin-bottom: 10px;
}

.myfooter {
    text-align: center;
	background-color: #B08F6E; /*#9E8163*/
	color: white;
    padding: 1em;
    font-weight: 700;
}

@media (max-width: 768px) {
    .menu {
        float: left;
    }
}
